In [38]:
import pandas as pd

In [42]:
df = pd.read_csv('output.csv')
print(df.shape)
df.head(320)

(320, 4)

     i_avg  i_city  i_thread  elapsed_time
0        0       1         1      0.017246
1        0       2         1      0.001241
2        0       3         1      0.001003
3        0       4         1      0.000776
4        0       5         1      0.001807
..     ...     ...       ...           ...
315      9       4        15      0.006742
316      9       5        15      0.008209
317      9       6        15      0.007931
318      9       7        15      0.019834
319      9       8        15      0.095683

[320 rows x 4 columns]

In [43]:
# Group by i_avg, i_city and i_thread
df_grouped = df.groupby(['i_avg', 'i_city', 'i_thread'])
print(df.shape)
df_grouped.head(320)

(320, 4)

     i_avg  i_city  i_thread  elapsed_time
0        0       1         1      0.017246
1        0       2         1      0.001241
2        0       3         1      0.001003
3        0       4         1      0.000776
4        0       5         1      0.001807
..     ...     ...       ...           ...
315      9       4        15      0.006742
316      9       5        15      0.008209
317      9       6        15      0.007931
318      9       7        15      0.019834
319      9       8        15      0.095683

[320 rows x 4 columns]